.navbar-custom{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,34,253,1) 50%, rgba(252,176,69,1) 100%);
    font-weight: bold;
}

.navbar-brand {
    visibility: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:990px) {
    .navbar-brand{
        visibility: visible;
    }
}
